.page {
  background-color: #fdf2f1;;
}

.container {
  padding: 1rem;
}

.cards {
  background-color: #976463;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  gap: 1rem;
  padding: 2rem 1rem;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
  height: 200px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fdf2f1;;
}